.DS_Store
*.pyc
venv*
.venv*
npm-debug.log
node_modules
.doit.db.db
/out
/build
yarn-error.log
/.Trash*
.vscode
vscode/Library/Application Support/Code/.com.microsoft.VSCode.*
vscode/Library/Application Support/Code/DIPS
vscode/Library/Application Support/Code/DIPS-wal
vscode/Library/Application Support/Code/User/chatLanguageModels.json
vscode/Library/Application Support/Code/blob_storage/
*.swp
